<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <a href="/"><img src="https://avatars1.githubusercontent.com/u/4623784?s=140"/></a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Informal community of Erlang programmers using Vim.
                <br/>
                We're #vim-erlang at freenode.
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/vim-erlang">github.com/vim-erlang</a><br />
                <a href="https://twitter.com/vim-erlang">twitter.com/vim-erlang</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
